@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
  /* Cores baseadas nas imagens do Figma */
  --color-senac-blue: #1650a7;
  --color-senac-blue-title: #002d71;
  --color-senac-orange: #f28b24;
  --color-background-light: #f4f6f8;

  /* Fonte Oficial do Sistema */
  --font-sans: "Poppins", sans-serif;
}

/* O reset de altura e fundo */
html,
body,
#root {
  height: 100%;
  background-color: var(--color-background-light);
  font-family: var(--font-sans) !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes sireneVermelha {
  0%,
  100% {
    box-shadow: 0 0 10px rgba(220, 38, 38, 0.5);
    background-color: #fee2e2; /* bg-red-100 */
  }
  50% {
    box-shadow: 0 0 15px rgba(220, 38, 38, 1);
    background-color: #fca5a5; /* bg-red-300 */
  }
}

.animate-sirene {
  /* 0.6s deixa o piscar bem rápido e urgente */
  animation: sireneVermelha 0.6s ease-in-out infinite;
}
